<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" href="/css/main.css" />

  <title>Document</title>
</head>

<body>
  <header class="hero-image">
    <div class="hero-text">
      <h1>From Base to Home</h1>
      <p>
        Making the transition easier for military & families
      </p>
      <p>One post at a time</p>
    </div>
  </header>

  <div class="navbar">
    <a href="/posts"><i class="post-class"></i>Posts</a>
    <a href="/authors"><i class="authors-class"></i> Authors</a>
    <a href="/genres"><i class="genres-class"></i> Genres</a>
    <a href="/post-tags"><i class="tags-class"></i> Tags</a>
  </div> <!-- /navbar -->

  <!-- <form class="post-form" action="/posts/add" method="POST">
    <ul class="post-form__list">

      <label class="post-form__field">
        <h3>Title: </h3>
        <input type="text" required name="title" placeholder="Enter Title here" />
      </label>
      <br>
      <label class="post-form__field post-form__content">
        <h3>Post: </h3>
        <textarea type="text" required maxlength="1000" rows="3" cols="120" name="body"
          placeholder="Enter Post here"></textarea>
      </label>
      <br>
      <label>
          <h3>Genre:</h3>
          <input list="genres" name="genre" />
          <select id="genres">
            <option
              th:each="genre: ${allGenresAttribute}"
              th:value="${genre.name}">option
            </option>
          </select>
        </label>
    </ul>
    <button class="review-form__button" type="submit">Submit</button>
  </form> -->

  <main class="main">
    <section class="genre-card-gallery">
      <article class="card" th:each="post: ${allPostsAttribute}">
        <a th:href="|/posts/${post.id}|">
          <p class="card__title" th:text="${post.title}">Title</p>
          <h1 th:text="${post.genre.name}">Genre</h1>
        </a>
      </article>

      <footer class="footer">
        &copy; 2019 From Base to Home
      </footer>


</body>
<footer class="footer">
  &copy; 2019 From Base to Home
</footer>

</html>