<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="main.css" />

    <title>Document</title>
  </head>

  <body>
    <header class="hero-image">
      <div class="hero-text">
        <h1>From Base to Home</h1>
        <p>
          Dedicated to making the transition easier for military & families
        </p>
        <p>One post at a time</p>
      </div>
    </header>

    <div class="navbar">
      <a class="active" href="#"><i class="home-class"></i>About</a>
      <a href="/posts"><i class="post-class"></i>Posts</a>
      <a href="#"><i class="authors-class"></i> Authors</a>
      <a href="#"><i class="genres-class"></i> Genres</a>
      <a href="#"><i class="tags-class"></i> Tags</a>
    </div>

    <main class="main">
      <section class="category-card-gallery">
        <article class="card">
          <p class="card__title">Blog entry 1</p>
          <h1>For military</h1>
        </article>

        <article class="card">
          <p class="card__title">Blog entry 2</p>
          <h1>For families</h1>
        </article>

        <article class="card">
          <p class="card__title">Blog entry 3</p>
          <h1>mmmm</h1>
        </article>

        <article class="card">
          <p class="card__title">Blog entry 4</p>
          <h1>mmmm</h1>
        </article>

        <article class="card">
          <p class="card__title">Blog entry 5</p>
          <h1>mmmm</h1>
        </article>
      </section>
    </main>

    <!-- /wrapper-->
  </body>
  <footer class="footer">
    &copy; 2019 From Base to Home
  </footer>
</html>
