<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="main.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>WCCI Summer Blog!</h1>
    </header>
    <div class="wrapper">
      <div class="sidebar">
        <ul>
          <li><a>Posts</a></li>
          <li><a>Authors</a></li>
          <li><a>Genres</a></li>
          <li><a>Tags</a></li>
        </ul>
      </div>
      <!-- /sidebar -->
      <div class="content-list">
        <ul>
          <li><h3>First Item</h3></li>
          <li><h3>Second Item</h3></li>
          <li><h3>Third Item</h3></li>
        </ul>
      </div>
    </div>
    <!-- /wrapper-->
  </body>
  <footer class="footer">
    &copy; 2019 Stephanie Shipley & Matt Laine
  </footer>
</html>
