<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />

    <title>Document</title>
</head>

<body>
    <header class="hero-image">
        <div class="hero-text">
            <h1>From Base to Home</h1>
            <p>
                Dedicated to making the transition easier for military & families
            </p>
            <p>One post at a time</p>
        </div>
    </header>

    <div class="navbar">
        <a href="/posts"><i class="post-class"></i>Posts</a>
        <a href="/authors"><i class="authors-class"></i> Authors</a>
        <a href="/genres"><i class="genres-class"></i> Genres</a>
        <a href="/post-tags"><i class="tags-class"></i> Tags</a>
    </div> <!-- /navbar -->

    <main class="main">
        <h2 th:text="${singlePostAttribute.title}">Title</h2>
        <div>
            <p th:text="${singlePostAttribute.body}">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
                minus nemo eius nihil incidunt
                voluptatibus iure illum, doloribus impedit rerum accusamus reprehenderit molestiae praesentium
                aliquam
                non illo nisi quod? Saepe?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis iure adipisci obcaecati sed repellendus
                excepturi, nisi minus, a beatae dolorem reprehenderit et fugiat non esse, odit ut ea accusamus.
                Mollitia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus mollitia possimus expedita rem.
                Sequi, obcaecati aliquam mollitia, eius voluptatibus perspiciatis unde adipisci suscipit debitis
                inventore ipsa dolorem ab reiciendis?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quod rem beatae? Unde perferendis a
                earum aliquam! Expedita, reiciendis dolores. Rem quia eaque nihil illo illum, ab consectetur porro quam.
            </p>
        </div>

    </main>
</body>
<footer class="footer">
    &copy; 2019 From Base to Home
</footer>

</html>